.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .redes{
    margin-right: 0.3em;
    
  }
  #logoAP{
    width: 150px;
  }
  img{
    width: 50px;
    margin: 0.2em;
  }
  .btn{
    border-width: medium;
  }
  