<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logo ARPRO.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://github.com/Drazo23"><img src="../../../assets/Logo Git.png" id="Githud"></a>
                <a href="https://www.instagram.com/daiana_erazo/"><img src="../../../assets/Logo-Instagram.png" id="Instagram"></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-outline-dark" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>
